---
import ExampleComponent from '../components/ExampleComponent.tsx';
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Astro SSR</title>
    <link rel="stylesheet" href="/globals.css" />
  </head>
  <body class="p-4">
    <h1 class="text-3xl font-bold">Welcome to Astro + React + TS + Tailwind</h1>
    <ExampleComponent />
  </body>
</html>